/* work sans font from google */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');
</style>

*{
 font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin: 10px;
}
.GAME{
    display: flex;
    align-items: center;
}
.G{
    color: brown;
}

div > ul {
    display: flex;
}
div > p{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
}
.PLT{
    background-image: url(images/Group\ 14.png);
}
.GOAT{
    color: rgba(139, 139, 220, 0.951);
}
.btn-primary{
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}
.btn{
    background-color: rgb(139, 193, 237);
    color: aliceblue;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}
.grp18{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin: 100px;
    padding: 30px;
}
.KN{
    background-color: palevioletred;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}
.are{
    color:rgb(175, 25, 175);
}
.WAG{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin: 100px;
    padding: 30px;
}
.OGFV{
    text-align: center;
}
.FV{
    color: rgba(200, 111, 235, 0.734);
}
.chobi{
    display: flex;
}

.ND{
    text-align: center;
}

/* play instantly */
.play{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.our{
    display: flex;
    justify-content: center;
    color: azure;
    gap: 30px;
    margin-top: 10px;
}
.action{
    display: flex;
    gap: 5px;
}
.foot-section{
    align-items: center;
    background-color: rgb(24, 24, 24);
}
.lgame{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: aliceblue;
}
.G{
    color: rgb(248, 137, 248);
}
.F-IMG{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding:0px 100px 20px;
}

.TC{
    color: aliceblue;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.copy{
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
/* responsive media queris */
/* for mobile devices */
@media  screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    
}

/* tablet or medium devices */
@media screen and(min-width: 576px) and (max-width: 960px) {
    header{
        padding: 80px;
    }
    nav{
        flex-direction: column;
    }
    
}